/*stylig för rubrik i homeBody*/
#homeBody h1 {
    padding: 15px 200px;
    display: block;
    font-family: "Poppins", sans-serif;
    color: #faf9f6;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;    
}
/*stylig för texten under namnet i homeBody*/
.text-highlight {
    color:#cad5d8;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 60px;
    
}
    
/*stylig för vanlig text i homeBody*/
#homeBody p {
    color:#ffffff;
    font-size: 30px;
    font-weight: 400;

}
/*stylig för hela homeBody*/
#homeBody {
    color:#cad5d8;
    font-size: 30px;
    font-weight: 400;

}

/*stylig för de knappar som finns i homeBody*/
.home-btn {
    text-decoration: none;
    color: #000000;
    background-color: #d4d8d9;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

/*Hover-effekt för knapparna i homeBody*/
.home-btn:hover {
    background-color:#fff ;
    color: #010101;
    transform:scale(1.1)
}

/*stylig för sociala ikoner i homeBody*/
.social-icons a {
    color:#ffffff;
    padding-right: 20px;
    font-size: 1em;

}

/*stylig för sektionen teamBody*/
 #teamBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*stylig för rubriken som finns i teamBody*/
#teamBody .title {
    color: #cad5d8;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
   
}


/*stylig för tjäntkort i teamBody*/
.våra-tjänster {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #cad5d8;
}

/*stylig för varje kort i tjänstkort */
.card {
    background-color:#d4d8d9;
    width:30%;
    /* height: 100%; */
    border-radius: 10px;
    padding: 25px;
    margin: 15px ;
    color: #000000;
    transition: 0.7s ease;
    
}

/*stylig för de ikoner som finns i tjänstkort*/
.icon {
    color:#637a84;
    font-size:larger;
    text-align: center;
}

/*för informationen i tjänstkorten*/
.info p {
    color:#000000;
    font-size:large;
    text-align: center;
}

/*stylig för rubriker i tjänstkorten*/
.info h2 {
    color:#637a84;
    font-size:medium;
    text-align: center;
}
/*hover-effekt*/
.card:hover {
    background-color:#fff ;
    color: #010101;
    transform:scale(1.1)
}
/*stylig för text i kotaktsektion*/
#contactBody p {
    font-size: 20px;
    text-align: center;
}

/*stylig för rubrik i kotaktsektion*/
#contactBody h1 {
    text-align: center;
    color: #cad5d8;
}

/*stylig för informationskorten i kotaktsektion*/
#contactBody .card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    height: 200px;
}

/*stylig för ikoner som finns i informationskorten i kotaktsektion*/
#contactBody .card.icon {
    font-size: 20px;
}

/*stylig för sidfoten*/
footer  {
    background-color: #637a84;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

/*stylig för sidfotensinnehåll*/
.footer-content  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*stylig för tillbaka-knappen i sidfoten*/
.tillbaka-btn {
    text-decoration-line: underline;
    color: #ffffff;
    font-size: 20px;
    transition: 0.7s ease;
}

/*stylig för  ikoner som finns i sidfoten*/
.fa-brands {
    color: #ffffff; 
    margin-right: 10px;   
}


.position-text{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/*hover-effekt för tillbaka-knappen som finns i sidfoten*/
.tillbaka-btn:hover {
    background-color:#fff ;
    color: #010101;
    transform:scale(1.1)
}

/*stylig för ikoner i sidfoten*/
.pay-icons {
    display: flex;
    font-size: 20px;
}

/*stylig för  texten i betalikoner */
.pay-icons p {
    margin: 0;
    margin-right: 10px;
}

/*stylig för korthållaren i konatktsektion*/
.card-wrapper {
   display: flex;
   margin-top: 10%;
} 

/*stylig för texten i tjänstkorten*/
.card-wrapper .card .info p {
 font-size: 14px !important;
}
